sites/default/settings.php
sites/default/settings.production.php
css/*
js/*
backup/*
sites/default/files/js/*
sites/default/files/css/*
sites/default/files/xmlsitemap/*
sites/default/files/backup_migrate/*
sites/default/files/tmp
sites/thestateofbluegrass.com/settings.php
sites/sobg.local
