#block-views-portfolio_slideshow-block_1
  position: relative
  height: 282px
  padding: 5px
  background: #f4f4f4
  border: 1px solid #aaa
  @include radius(3px)
  margin-bottom: 20px

.node-type-portfolio
  .page-title
    font-size: 34px
    color: #888
    margin-top: -20px
  .field-field-client, .field-field-solution
    font-size: 1.2em
    padding: 30px 20px
    border-bottom: $fat_border
    @include transition(background, 0.3s, linear)
    &:hover
      background: lighten($dark_blue, 78%)
    .field-label
      font-size: 1.5em
      text-align: center
      color: #888
      margin-bottom: 20px
  #block-block-15
    text-align: center
    margin: 40px 0 30px
  #block-views-sidebar_content-block_1
    margin-bottom: 30px
    padding-bottom: 30px
    border-bottom: $fat_border
    .block-title
      text-align: center
      font-size: 1.5em
      font-style: italic
      border-bottom: $fat_border
      color: #888
      margin-bottom: 20px
      padding-bottom: 10px
    ul
      margin-bottom: 20px
    li
      font-size: 0.9em
      padding: 8px 15px
      @include transition(background, 0.3s, ease)
      &:hover
        background: lighten($dark_blue, 75%)
        
.view-full-portfolio
  .views-row
    padding: 20px 0
    border-bottom: $fat_border
    padding: 20px 10px 40px
    overflow: auto
    @include transition(background, 0.3s, ease)
    &:hover
      background: lighten($dark_blue, 79%)
  .views-field-title
    font-size: 1.5em
    margin-bottom: 10px
    font-style: italic
    text-align: center
    a
      text-decoration: none
  .views-field-field-front-page-image-fid
    border: 1px solid #eee
    padding: 5px 5px 0
    @include radius(3px)
    background: #fff
    &:hover
      border-color: #888
  .views-field-field-client-value
    font-size: 1.2em
  .views-row-odd
    .views-field-field-front-page-image-fid
      float: left
      margin-right: 30px
  .views-row-even
    .views-field-field-front-page-image-fid
      float: right
      margin-left: 30px
    
.page-portfolio
  h1.page-title
    text-align: center
    font-size: 4em
    color: #eee
    font-weight: 100
    border-bottom: $fat_border
    
.portfolio-index
  .grid_8
    width: 940px