#block-views-portfolio_slideshow-block_1
  position: relative
  height: 282px
  padding: 5px
  background: #f4f4f4
  border: 1px solid #aaa
  @include radius(3px)
  margin-bottom: 20px

.node-type-portfolio
  .page-title
    font-size: 34px
    color: #888
    margin-top: -20px