body {
  color: #444444;
  font: 16px/1.5 "lucida grande", helvetica, arial, sans-serif;
  background: #0f2b4d; }

p {
  line-height: 1.5; }

.page-title {
  font-size: 24px;
  font-weight: normal; }

.node-submitted {
  margin-bottom: 15px; }

.disclaimer {
  border: 3px solid #eeeeee;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: #f7f7f7;
  padding: 20px;
  font-size: 18px; }

a {
  color: #888888; }
  a.button {
    color: white;
    font-size: 24px;
    text-decoration: none;
    background: #174378;
    background: -moz-linear-gradient(270deg, #205ba2, #174378);
    background: -webkit-gradient(linear, left top, left bottom, from(#205ba2), to(#174378));
    background: linear-gradient(270deg, #205ba2, #174378);
    padding: 3px 10px 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #444444; }
    a.button:hover {
      background: #0f2b4d;
      background: -moz-linear-gradient(270deg, #174378, #0f2b4d);
      background: -webkit-gradient(linear, left top, left bottom, from(#174378), to(#0f2b4d));
      background: linear-gradient(270deg, #174378, #0f2b4d); }
    a.button:active {
      position: relative;
      top: 1px; }

#header, #branding {
  background: #f8f8f8; }

#branding {
  border-bottom: 1px solid #eeeeee; }

.logo {
  font-size: 3em;
  padding: 0.5em 0; }
  .logo a {
    text-decoration: none;
    color: #1b4f8d; }
    .logo a:active {
      position: relative;
      top: 1px; }

.primary-tabs a {
  margin-right: 5px;
  padding: 0 5px;
  text-decoration: none;
  border: 1px solid #cccccc;
  border-radius: 2px; }

#page {
  background: white;
  padding-top: 30px; }

.home-copy {
  text-align: justify; }
  .home-copy h1 {
    font-size: 2em;
    font-weight: 100; }

.slideshow img {
  margin: 0 auto;
  padding: 5px;
  background: #f4f4f4;
  border: 1px solid #dddddd;
  border-radius: 3px; }

.teaser-header {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  color: #666666; }

#block-views-home_teasers-block_1 {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 5px solid #eeeeee; }

.view-home-teasers .views-row {
  width: 30%;
  float: left;
  padding: 1em 1.5%; }

.view-id-archive .views-field-created {
  font-size: 14px;
  font-style: italic; }
.view-id-archive .views-row {
  margin: 1em auto; }

.page-taxonomy h1.page-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 1em; }

#block-views-categories-block_1 .block-title {
  font-size: 1.2em;
  text-align: center; }

#footer {
  background: #0f2b4d;
  background: -moz-linear-gradient(270deg, #1b4f8d, #0f2b4d);
  background: -webkit-gradient(linear, left top, left bottom, from(#1b4f8d), to(#0f2b4d));
  background: linear-gradient(270deg, #1b4f8d, #0f2b4d);
  color: white;
  border-top: 2px solid #999999;
  padding-top: 30px; }
  #footer p {
    font-size: 14px;
    line-height: 1.25; }
  #footer .block {
    width: 25%;
    float: left; }
    #footer .block a {
      color: white; }
    #footer .block .block-title, #footer .block .block-content {
      padding: 0 15px; }
    #footer .block .block-title {
      font-size: 20px;
      margin-bottom: 10px; }
    #footer .block .views-row {
      margin-bottom: 15px; }
      #footer .block .views-row a {
        text-decoration: none;
        font-style: italic;
        font-size: 16px; }
        #footer .block .views-row a:hover {
          color: #cccccc; }
  #footer .tweets ul {
    margin-left: 0;
    list-style: none;
    font-size: 14px; }
  #footer .tweets li {
    margin-left: 0;
    list-style: none;
    font-size: 14px;
    margin-bottom: 15px; }
    #footer .tweets li span.tweet_time a {
      display: block; }

.seinfeld-badge {
  margin: 0 0 2em 0; }
  .seinfeld-badge #calendar {
    border-bottom: 1px solid black;
    border-top: 2px solid black;
    margin: 1em 0 0 0;
    padding: 0 5px 5px 5px; }
  .seinfeld-badge table {
    width: 100%; }
  .seinfeld-badge th.monthName {
    color: #b20000;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 5px 0 0 0;
    text-align: center;
    text-transform: uppercase; }
  .seinfeld-badge tr.dayName th {
    font-weight: 700;
    letter-spacing: 2px;
    padding: 5px 0;
    text-align: center;
    font-size: 11px; }
  .seinfeld-badge td {
    position: relative;
    text-align: center; }
    .seinfeld-badge td.otherMonth {
      color: #cccccc; }
    .seinfeld-badge td.today {
      color: green; }
  .seinfeld-badge .xmarksthespot {
    margin: -16px 7px 0;
    position: absolute;
    z-index: 100; }
  .seinfeld-badge .otherMonth .xmarksthespot {
    opacity: 0.2; }
  .seinfeld-badge p {
    margin: 0; }
  .seinfeld-badge div.streaks {
    font-size: 0.8em;
    margin: 0.2em 0.4em 0 0.4em; }
    .seinfeld-badge div.streaks span.type {
      font-weight: 700;
      text-transform: capitalize; }
    .seinfeld-badge div.streaks strong a {
      font-style: normal;
      font-weight: 300; }
  .seinfeld-badge div.longest_streak {
    float: right;
    margin: -1.3em 0 0 0;
    width: auto; }
  .seinfeld-badge p.pimpage {
    float: right;
    color: #cccccc;
    font-size: 0.8em;
    margin: 0.5em 0.4em 0 0.4em;
    width: auto; }

#user-login input.form-submit {
  padding: 2px 5px;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 10px 0;
  background: #f5f4f5; }
  #user-login input.form-submit:hover {
    -moz-box-shadow: 0 0 3px #555555;
    box-shadow: 0 0 3px #555555; }
  #user-login input.form-submit:active {
    position: relative;
    top: 1px; }

#block-views-portfolio_slideshow-block_1 {
  position: relative;
  height: 282px;
  padding: 5px;
  background: #f4f4f4;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px; }

.node-type-portfolio .page-title {
  font-size: 34px;
  color: #888888;
  margin-top: -20px; }
