$fat_border: 5px solid #eee
$dark_blue: #0F2B4D

@mixin serif($style, $weight)
  font-family: garamond-premier-pro-1,garamond-premier-pro-2,serif
  font-style: $style
  font-weight: $weight
  
@mixin grad($a, $b)
  background: -moz-linear-gradient(270deg, $a, $b)
  background: -webkit-gradient(linear, left top, left bottom, from($a), to($b))
  background: linear-gradient(270deg, $a, $b)
  
@mixin radius($a)
  -moz-border-radius: $a
  -webkit-border-radius: $a
  border-radius: $a
  
@mixin shadow($a, $b, $c, $d)
  -moz-box-shadow: $a $b $c $d
  -webkit-box-shadow: $a $b $c $d
  box-shadow: $a $b $c $d
  
@mixin inset-shadow($a, $b, $c, $d)
  -moz-box-shadow: inset $a $b $c $d
  -webkit-box-shadow: inset $a $b $c $d
  box-shadow: inset $a $b $c $d
  
@mixin button($text, $color)
  padding: 3px 10px 5px
  border: 1px solid #bbb
  background: $color
  @include grad(lighten($color, 15%), $color)
  @include radius(3px)
  font-size: 1.3em
  color: $text
  &:hover
    background: darken($color, 10%)
    @include grad($color, darken($color, 15%))
    color: $text
    
@mixin transition($property, $speed, $style)
  -webkit-transition: $property $speed $style
  -moz-transition: $property $speed $style
  -o-transition: $property $speed $style
  -ms-transition: $property $speed $style
  transition: $property $speed $style

body
  color: #444
  font: 16px / 1.5 "lucida grande", helvetica, arial, sans-serif
  background: $dark_blue

p
  line-height: 1.5

.page-title
  font-size: 24px
  font-weight: normal

.node-submitted
  margin-bottom: 15px

.disclaimer
  border: 3px solid #eee
  border-radius: 3px
  -moz-border-radius: 3px
  background: #f7f7f7
  padding: 20px
  font-size: 18px

a
  color: lighten($dark_blue, 20%)
  &:hover
    color: $dark_blue
  &.button
    text-decoration: none
    @include button(#fff, $dark_blue)
    @include transition(background, 0.2s, ease)
    &:active
      position: relative
      top: 1px

#header
  background: lighten($dark_blue, 15%)
  border-bottom: 1px solid $dark_blue
  #block-menu-primary-links
    float: right
    padding: 5px 0
    li
      float: left
      @include radius(2px)
      font-size: 14px
      margin-left: 10px
      a
        padding: 4px 10px
        text-decoration: none
        font-weight: bold
        color: #fff
      &.active-trail
        border-top: none
        background: $dark_blue
        a
          color: #fff
      ul
        li
          &.active-trail
            @include inset-shadow(0, 0, 0, #888)

#branding
  background: #f8f8f8

#branding
  border-bottom: 1px solid #eee

.logo
  font-size: 3em
  padding: .5em 0
  a
    text-decoration: none
    color: lighten($dark_blue, 15%)
    &:active
      position: relative
      top: 1px

.primary-tabs a
  margin-right: 5px
  padding: 0 5px
  text-decoration: none
  border: 1px solid #ccc
  border-radius: 2px

#page
  background: #fff
  padding-top: 30px

.home-copy
  text-align: justify
  h1
    font-size: 2em
    font-weight: 100

#block-views-home_slideshow-block_1
  margin: 0 auto
  padding: 4px
  border: 1px solid #ddd
  @include radius(3px)
  @include transition(border, 0.3s, ease)
  height: 360px
  &:hover
    border: 1px solid #444

.front
  .view-header
    text-align: center
    font-size: 1.5em
    font-style: italic
    color: #666

#block-views-home_teasers-block_1,
#block-views-recent_portfolio-block_1
  margin-top: 2em
  padding: 1em 0
  border-top: $fat-border

.view-home-teasers,
.view-recent-portfolio
  .views-row
    width: 273px
    float: left
    padding: 20px
    img
      margin: 10px
      padding: 10px
      @include transition(background, 0.3s, ease)
      &:hover
        background: #ddd

.view-home-teasers .views-row-odd
  background: #f7f7f7

.view-id-archive
  .views-field-created
    font-size: 14px
    font-style: italic
  .views-row
    margin: 1em auto

.page-taxonomy h1.page-title
  text-align: center
  font-size: 1.5em
  font-weight: 100
  margin-bottom: 1em

#block-views-categories-block_1 .block-title
  font-size: 1.2em
  text-align: center
  
#right
  .block-title
    font-size: 18px
  p
    color: #888

#footer
  background: $dark_blue
  @include grad(lighten($dark_blue, 15%), $dark_blue)
  color: #fff
  border-top: 2px solid #999
  padding-top: 30px
  p
    font-size: 14px
    line-height: 1.25
  .block
    width: 25%
    float: left
    a
      color: #fff
    .block-title, .block-content
      padding: 0 15px
    .block-title
      font-size: 20px
      margin-bottom: 10px
    .views-row
      margin-bottom: 15px
      a
        text-decoration: none
        font-style: italic
        font-size: 16px
        &:hover
          color: #ccc
  .tweets
    ul
      margin-left: 0
      list-style: none
      font-size: 14px
    li
      margin-left: 0
      list-style: none
      font-size: 14px
      margin-bottom: 15px
      span.tweet_time a
        display: block

.seinfeld-badge
  margin: 0 0 2em 0
  #calendar
    border-bottom: 1px solid #000
    border-top: 2px solid #000
    margin: 1em 0 0 0
    padding: 0 5px 5px 5px
  table
    width: 100%
  th.monthName
    color: #b20000
    font-weight: 700
    letter-spacing: 5px
    padding: 5px 0 0 0
    text-align: center
    text-transform: uppercase
  tr.dayName th
    font-weight: 700
    letter-spacing: 2px
    padding: 5px 0
    text-align: center
    font-size: 11px
  td
    position: relative
    text-align: center
    &.otherMonth
      color: #ccc
    &.today
      color: green
  .xmarksthespot
    margin: -16px 7px 0
    position: absolute
    z-index: 100
  .otherMonth .xmarksthespot
    opacity: 0.2
  p
    margin: 0
  div
    &.streaks
      font-size: 0.8em
      margin: 0.2em 0.4em 0 0.4em
      span.type
        font-weight: 700
        text-transform: capitalize
      strong a
        font-style: normal
        font-weight: 300
    &.longest_streak
      float: right
      margin: -1.3em 0 0 0
      width: auto
  p.pimpage
    float: right
    color: #ccc
    font-size: 0.8em
    margin: 0.5em 0.4em 0 0.4em
    width: auto

#user-login
  input.form-submit
    padding: 2px 5px
    border: 1px solid #aaa
    -moz-border-radius: 2px
    border-radius: 2px
    margin: 10px 0
    background: #f5f4f5
    &:hover
      -moz-box-shadow: 0 0 3px #555
      box-shadow: 0 0 3px #555
    &:active
      position: relative
      top: 1px
.page-contact
  .form-text
    padding: 1px 5px
    color: #999
    font-size: 1.2em
    @include radius(2px)
  textarea
    width: 620px
    @include radius(3px)
  .form-submit
    @include button(#fff, lighten($dark_blue, 15%))
    margin: 10px 0 20px
    
#copyright
  clear: both
  text-align: center
  
@import portfolio.sass