.clear { clear: both; }

.wrap { width: 100%; margin: 0 auto; max-width: 1140px; }

body { color: #444444; font: 16px "lucida grande", helvetica, arial, sans-serif; background: #0f2b4d; }

hr { margin: 30px; height: 2px; border: none; background: #cccccc; }

p, li { margin: 1.5em 0; line-height: 24px; font-family: georgia; }

h1 { font-size: 2em; }

h2, .prose h2, .view-header { font-size: 1.75em; line-height: 1.75em; font-weight: normal; font-family: georgia; text-align: center; font-style: italic; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; }

.prose pre { word-wrap: break-word; }

.prose pre, .prose code, .prose div.codeblock { font-size: 100%; background: #eee; padding: 0 5px}

textarea { font-family: monaco, monospace; }

blockquote { font-style: italic; padding: 0; border-color: white; padding: 20px; background: url(../images/icon-quote.gif) left top no-repeat; }
blockquote p:last-child { margin-bottom: 0; }

.page-title { font-size: 24px; font-weight: normal; line-height: 36px; }

.node-submitted { margin-bottom: 15px; font-size: 12px; }

.disclaimer { border: 3px solid #eeeeee; border-radius: 3px; -moz-border-radius: 3px; background: #f7f7f7; padding: 20px; font-size: 18px; text-align: center; }

a { color: #205ba2; }
a:hover { color: #0f2b4d; }
a.button { text-decoration: none; margin: 0 auto; padding: 3px 10px 5px; border: 1px solid #bbbbbb; background: #0f2b4d;  -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; font-size: 1.3em; color: white; -webkit-transition: background 0.2s ease; -moz-transition: background 0.2s ease; -o-transition: background 0.2s ease; -ms-transition: background 0.2s ease; transition: background 0.2s ease; }
a.button:hover { background: #071322; background: -moz-linear-gradient(270deg, #0f2b4d, #03070d); background: -webkit-gradient(linear, left top, left bottom, from(#0f2b4d), to(#03070d)); background: linear-gradient(270deg, #0f2b4d, #03070d); color: white; }
a.button:active { position: relative; top: 1px; }

#header { background: #1b4f8d; border-bottom: 1px solid #0f2b4d; }
#header #block-menu-primary-links { float: right; padding: 5px 0; }
#header #block-menu-primary-links li { float: left; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; font-size: 14px; margin-left: 10px; }
#header #block-menu-primary-links li a { padding: 4px 10px; text-decoration: none; font-weight: bold; color: white; }
#header #block-menu-primary-links li.active-trail { border-top: none; background: #0f2b4d; }
#header #block-menu-primary-links li.active-trail a { color: white; }
#header #block-menu-primary-links li ul li.active-trail { -moz-box-shadow: inset 0 0 0 #888888; -webkit-box-shadow: inset 0 0 0 #888888; box-shadow: inset 0 0 0 #888888; }

#branding { background: #f8f8f8; border-bottom: 1px solid #eeeeee; }

.logo { font-size: 3em; padding: 0.5em 0; }
.logo a { text-decoration: none; color: #1b4f8d; }
.logo a:active { position: relative; top: 1px; }

.primary-tabs a { margin-right: 5px; padding: 0 5px; text-decoration: none; border: 1px solid #cccccc; border-radius: 2px; }

.front #main { width: 100%; margin: 0 auto; max-width: 1140px; }
.front .home-copy { width: 47.5%; display: inline; float: left; margin-left: 1.25%; margin-right: 1.25%; }
.front .slideshow { width: 47.5%; display: inline; float: left; margin-left: 1.25%; margin-right: 1.25%; }
.front .slideshow img { max-width: 100%; }

#main { width: 64.16667%; display: inline; float: left; margin-left: 1.25%; margin-right: 1.25%; }

.page-archive #main { width: 100%; margin: 0 auto; max-width: 1140px; }
.page-archive #main .views-row { width: 22.5%; display: inline; float: left; margin-left: 1.25%; margin-right: 1.25%; height: 80px; }
.page-archive #main .views-row .views-field-created { font-size: 22px; color: #888888; font-family: georgia; }

#page { background: white; padding: 3em 0; }

.home-copy { text-align: justify; }
.home-copy h1 { font-size: 30px; line-height: 45px; font-weight: normal; }

#block-views-home_slideshow-block_1 { margin: 0 auto; padding: 4px; border: 1px solid #dddddd; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -webkit-transition: border 0.3s ease; -moz-transition: border 0.3s ease; -o-transition: border 0.3s ease; -ms-transition: border 0.3s ease; transition: border 0.3s ease; height: 360px; }
#block-views-home_slideshow-block_1:hover { border: 1px solid #444444; }

.front .view-header { text-align: center; color: #666666; margin-bottom: 1em; }

#block-views-home_teasers-block_1, #block-views-recent_portfolio-block_1 { margin-top: 2em; }

#block-views-recent_portfolio-block_1 { width: 64.16667%; display: inline; float: left; margin-left: 1.25%; margin-right: 1.25%; }

#block-views-home_teasers-block_1 { width: 30.83333%; display: inline; float: left; margin-left: 1.25%; margin-right: 1.25%; }
#block-views-home_teasers-block_1 p { font-size: 12px; line-height: 18px; }

.view-home-teasers { border: 2px solid #cccccc; background: #eeeeee; float: left; }
.view-home-teasers .view-header { margin: 0; border-top: none; border-bottom: none; }
.view-home-teasers .view-content { padding: 2em; }
.view-home-teasers .views-row { width: 97.5%; display: inline; float: left; margin-left: 1.25%; margin-right: 1.25%; padding-bottom: 2em; }

.view-recent-portfolio .views-row { width: 22.5%; display: inline; float: left; margin-left: 1.25%; margin-right: 1.25%; }
.view-recent-portfolio .views-row img { max-width: 95%; padding: 2.5%; }
.view-recent-portfolio .views-row img:hover { background: #cccccc; }

.view-id-archive .views-field-created { font-size: 14px; font-style: italic; }
.view-id-archive .views-row { margin: 1em auto; }

.page-taxonomy h1.page-title { text-align: center; font-size: 1.5em; font-weight: 100; margin-bottom: 1em; }

#block-views-categories-block_1 .block-title { font-size: 1.2em; text-align: center; }

#right { width: 30.83333%; display: inline; float: left; margin-left: 1.25%; margin-right: 1.25%; }
#right .block-title { font-size: 18px; }
#right p { color: #888888; font-size: 14px; line-height: 21px; }

#footer { background: #0f2b4d;  color: white; border-top: 2px solid #999999; padding-top: 30px; }
#footer .wrap { width: 100%; margin: 0 auto; max-width: 1140px; }
#footer p { font-size: 14px; line-height: 20px; }
#footer .block { width: 24.5%; display: inline; float: left; margin-left: 0.25%; margin-right: 0.25%; float: left; }
#footer .block a { color: white; }
#footer .block .block-title, #footer .block .block-content { padding: 0 15px; }
#footer .block .block-title { font-size: 20px; margin-bottom: 10px; }
#footer .block .views-row { margin-bottom: 15px; }
#footer .block .views-row .views-field-type {
  font-size: .8em;
  margin-bottom: .3em;
}
#footer .block .views-row a { text-decoration: none; font-style: italic; font-size: 16px; }
#footer .block .views-row a:hover { color: #cccccc; }
#footer .tweets ul { margin-left: 0; list-style: none; font-size: 14px; }
#footer .tweets li { margin-left: 0; list-style: none; font-size: 14px; margin-bottom: 15px; }
#footer .tweets li span.tweet_time a { display: block; }

#user-login input.form-submit { padding: 2px 5px; border: 1px solid #aaaaaa; -moz-border-radius: 2px; border-radius: 2px; margin: 10px 0; background: #f5f4f5; }
#user-login input.form-submit:hover { -moz-box-shadow: 0 0 3px #555555; box-shadow: 0 0 3px #555555; }
#user-login input.form-submit:active { position: relative; top: 1px; }

.page-contact .form-text { padding: 1px 5px; color: #999999; font-size: 1.2em; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.page-contact textarea { width: 620px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.page-contact .form-submit { padding: 3px 10px 5px; border: 1px solid #bbbbbb; background: #1b4f8d; background: -moz-linear-gradient(270deg, #2873cd, #1b4f8d); background: -webkit-gradient(linear, left top, left bottom, from(#2873cd), to(#1b4f8d)); background: linear-gradient(270deg, #2873cd, #1b4f8d); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; font-size: 1.3em; color: white; margin: 10px 0 20px; }
.page-contact .form-submit:hover { background: #133762; background: -moz-linear-gradient(270deg, #1b4f8d, #0f2b4d); background: -webkit-gradient(linear, left top, left bottom, from(#1b4f8d), to(#0f2b4d)); background: linear-gradient(270deg, #1b4f8d, #0f2b4d); color: white; }

#copyright { clear: both; text-align: center; }
#copyright a { color: white; padding: 1px 5px; }
#copyright a:hover { background: rgba(255, 255, 255, 0.2); }

#block-views-portfolio_slideshow-block_1 { padding: 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
#block-views-portfolio_slideshow-block_1 img { width: 47%; margin: 0.75%; padding: 0.75%; background: #dddddd; float: left; }

.node-type-blog .node-content { padding-bottom: 2em; }

.node-type-portfolio .page-title { font-size: 34px; color: #888888; }
.node-type-portfolio .field-field-client, .node-type-portfolio .field-field-solution { padding: 30px 20px; border-bottom: 3px solid #eeeeee; -webkit-transition: background 0.3s linear; -moz-transition: background 0.3s linear; -o-transition: background 0.3s linear; -ms-transition: background 0.3s linear; transition: background 0.3s linear; }
.node-type-portfolio .field-field-client:hover, .node-type-portfolio .field-field-solution:hover { background: #eef4fc; }
.node-type-portfolio .field-field-client .field-label, .node-type-portfolio .field-field-solution .field-label { font-size: 1.75em; text-align: center; color: #888888; font-family: georgia; font-weight: normal; margin-bottom: 20px; }
.node-type-portfolio #block-block-15 { text-align: center; margin: 40px 0 30px; }
.node-type-portfolio #block-views-sidebar_content-block_1 { margin-bottom: 30px; padding-bottom: 30px; border-bottom: 3px solid #eeeeee; }
.node-type-portfolio #block-views-sidebar_content-block_1 .block-title { text-align: center; font-size: 1.5em; font-style: italic; border-bottom: 3px solid #eeeeee; color: #888888; margin-bottom: 20px; padding-bottom: 10px; }
.node-type-portfolio #block-views-sidebar_content-block_1 ul { margin-bottom: 20px; }
.node-type-portfolio #block-views-sidebar_content-block_1 li { font-size: 0.9em; padding: 8px 15px; margin:0; -webkit-transition: background 0.3s ease; -moz-transition: background 0.3s ease; -o-transition: background 0.3s ease; -ms-transition: background 0.3s ease; transition: background 0.3s ease; }
.node-type-portfolio #block-views-sidebar_content-block_1 li:hover { background: #e1ecf9; }

.page-portfolio h1.page-title { text-align: center; color: #cccccc; font-weight: 100; border-bottom: 1px solid #dddddd; }
.page-portfolio #main { width: 100%; margin: 0 auto; max-width: 1140px; }
.page-portfolio #main .views-row { padding: 20px 0; border-bottom: 3px solid #eeeeee; padding: 1.5% 3%; overflow: auto; -webkit-transition: background 0.3s ease; -moz-transition: background 0.3s ease; -o-transition: background 0.3s ease; -ms-transition: background 0.3s ease; transition: background 0.3s ease; }
.page-portfolio #main .views-row:hover { background: #f2f7fd; }
.page-portfolio #main .views-field-title { font-size: 1.5em; font-family: georgia; margin-bottom: 10px; font-style: italic; text-align: center; }
.page-portfolio #main .views-field-title a { text-decoration: none; }
.page-portfolio #main .views-field-field-front-page-image-fid { border: 1px solid #eeeeee; padding: 5px 5px 0; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background: white; }
.page-portfolio #main .views-field-field-front-page-image-fid:hover { border-color: #888888; }
.page-portfolio #main .views-row-odd .views-field-field-front-page-image-fid { float: left; margin-right: 2%; }
.page-portfolio #main .views-row-even .views-field-field-front-page-image-fid { float: right; margin-left: 2%; }

@media screen and (max-width: 799px) { .logo { text-align: center; }
  .wrap { width: 100%; margin: 0 auto; max-width: 1140px; overflow: hidden; }
  .wrap .home-copy, .wrap .slideshow, .wrap #block-views-recent_portfolio-block_1, .wrap #block-views-home_teasers-block_1, .wrap #main, .wrap #right { width: 92%; display: inline; float: left; margin-left: 4%; margin-right: 4%; }
  .wrap .home-copy img, .wrap .slideshow img, .wrap #block-views-recent_portfolio-block_1 img, .wrap #block-views-home_teasers-block_1 img, .wrap #main img, .wrap #right img { max-width: 100%; margin: inherit auto; }
  #footer .block { width: 47.5%; display: inline; float: left; margin-left: 1.25%; margin-right: 1.25%; }
  #footer .block .block-title { text-align: center; }
  #block-block-12 { clear: left; }
  .page-archive #main .views-row { width: 47.5%; display: inline; float: left; margin-left: 1.25%; margin-right: 1.25%; }
  .view-recent-portfolio .views-row { width: 47.5%; display: inline; float: left; margin-left: 1.25%; margin-right: 1.25%; }
  .view-recent-portfolio .views-row img { display: block; margin: 1em auto; } }
@media screen and (max-width: 480px) { .logo { font-size: 1.5em; }
  #footer .block { width: 97.5%; display: inline; float: left; margin-left: 1.25%; margin-right: 1.25%; height: auto; }
  .page-archive #main .views-row { width: 97.5%; display: inline; float: left; margin-left: 1.25%; margin-right: 1.25%; }
  #block-views-portfolio_slideshow-block_1 img { width: 97.5%; display: inline; float: left; margin-left: 1.25%; margin-right: 1.25%; }
  a.button { display: block; }
  .view-recent-portfolio .views-row { width: 97.5%; display: inline; float: left; margin-left: 1.25%; margin-right: 1.25%; } }
