$width: 100%
$grid_cols: 12
$gutters: 2%

// Lib

@mixin container()
  width: $width
  margin: 0 auto

@mixin grid($cols, $margin-right: $gutters)
  width: (($width / $grid_cols) * $cols) - ($gutters)
  display: inline
  float: left
  margin-left: $margin-left
  margin-right: $margin-right

@mixin radius($a)
  -moz-border-radius: $a
  -webkit-border-radius: $a
  border-radius: $a
  
@mixin shadow($a, $b, $c, $d)
  -moz-box-shadow: $a $b $c $d
  -webkit-box-shadow: $a $b $c $d
  box-shadow: $a $b $c $d
  
@mixin gradient($color1, $color2)
  background: -webkit-gradient(linear, left top, left bottom, from($color1), to($color2))
  @each $browser in webkit, moz, o, ms
    background: -#{$browser}-linear-gradient(top, $color1, $color2)
  background: linear-gradient(top, $color1, $color2)