---
layout: default
---
<div class="post eightcol">
  <h2 class="post-title">{{ page.title }}</h2>
  <p><time>{{ page.date | date_to_string }}</time></p>
  {{ content }}
</div>

<div class="twocol last">
	<div class="others">
		{% if page.next %}
	    <a href="{{ page.next.url }}" title="{{ page.next.title }}">Newer &rarr;</a>
	  {% endif %}
		{% if page.previous %}
	    <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
	  {% endif %}
	</div>
</div>
<a name="comments"></a>
	<div id="disqus_thread" class="sixcol"></div>
	<script type="text/javascript">
	    var disqus_shortname = 'ignoredbydinosaurs'; // required: replace example with your forum shortname

	    // The following are highly recommended additional parameters. Remove the slashes in front to use.
	    // var disqus_identifier = '{{ page.disqus_id }}';
	    // var disqus_url = 'http://ignoredbydinosaurs.com{{ page.url }}';

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<div class="tweet sixcol last"></div>